<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img src="../../../../assets/aurora-borealis-1839582.jpg" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-4">Featured</small>
          <small class="bg-light text-info text-center ml-4">Views- 100,253</small>
          <small class="bg-light text-warning text-center ml-4">LAST UPDATED - SEP20, 2021</small>

          <h1 class="my-3">
            HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY
          </h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, impedit? Fugit quibusdam, eligendi est iusto odio facere molestias
            earum laboriosam eveniet doloremque dolorem, ipsa debitis. Libero voluptate, consequuntur inventore labore quae praesentium ipsum illo
            eligendi magnam nihil enim numquam quas provident quidem quis voluptatibus minima odit tenetur, obcaecati repellendus.
            Excepturi asperiores quidem maxime voluptas quos tenetur architecto exercitationem esse repudiandae doloremque consequatur
            inventore possimus praesentium, est libero, expedita facilis. Obcaecati ut et suscipit dolor repellendus ratione odio deserunt.
            A odit quam, ipsum harum et error esse, molestiae soluta in, debitis sint nemo officia reprehenderit? Minus, repellat
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, impedit? Fugit quibusdam, eligendi est iusto odio facere molestias
            earum laboriosam eveniet doloremque dolorem, ipsa debitis. Libero voluptate, consequuntur inventore labore quae praesentium ipsum illo
            eligendi magnam nihil enim numquam quas provident quidem quis voluptatibus minima odit tenetur, obcaecati repellendus.
            Excepturi asperiores quidem maxime voluptas quos tenetur architecto exercitationem esse repudiandae doloremque consequatur
            inventore possimus praesentium, est libero, expedita facilis. Obcaecati ut et suscipit dolor repellendus ratione odio deserunt.
            A odit quam, ipsum harum et error esse, molestiae soluta in, debitis sint nemo officia reprehenderit? Minus, repellat
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, impedit? Fugit quibusdam, eligendi est iusto odio facere molestias
            earum laboriosam eveniet doloremque dolorem, ipsa debitis. Libero voluptate, consequuntur inventore labore quae praesentium ipsum illo
            eligendi magnam nihil enim numquam quas provident quidem quis voluptatibus minima odit tenetur, obcaecati repellendus.
            Excepturi asperiores quidem maxime voluptas quos tenetur architecto exercitationem esse repudiandae doloremque consequatur
            inventore possimus praesentium, est libero, expedita facilis. Obcaecati ut et suscipit dolor repellendus ratione odio deserunt.
            A odit quam, ipsum harum et error esse, molestiae soluta in, debitis sint nemo officia reprehenderit? Minus, repellat.</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, impedit? Fugit quibusdam, eligendi est iusto odio facere molestias
            earum laboriosam eveniet doloremque dolorem, ipsa debitis. Libero voluptate, consequuntur inventore labore quae praesentium ipsum illo
            eligendi magnam nihil enim numquam quas provident quidem quis voluptatibus minima odit tenetur, obcaecati repellendus.
            Excepturi asperiores quidem maxime voluptas quos tenetur architecto exercitationem esse repudiandae doloremque consequatur
            inventore possimus praesentium, est libero, expedita facilis. Obcaecati ut et suscipit dolor repellendus ratione odio deserunt.
            A odit quam, ipsum harum et error esse, molestiae soluta in, debitis sint nemo officia reprehenderit? Minus, repellat

        </div>
      </div>
    </div>
    <div class="col-md-3 overflow-col">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
