@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color:#026467;
$secondary-color:#E5F5EA;
$body-text-color:#596392;
$navbar-footer-color:#f9f9f9;

body{
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  color:$body-text-color;
}

.logo {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: $secondary-color;
  color:$primary-color;
}

.shadow-effect{
  border:none;
  box-shadow: 0 0 33px -10px rgba(71, 114, 254, 0.3);
}

.bg-theme{
  background-color: $primary-color;
}

.text-theme-primary{
  color:$primary-color
}

.bg-secondary-theme{
  background-color: $secondary-color;
}

.bg-II{
  background-color: $navbar-footer-color;

}

.btn-main{
  background:$primary-color;
  color:white;
  text-wrap:nowrap;
}

