<div class="card mt-5">
    <img src="https://picsum.photos/100" alt="" class="card-img-top">
  
    <div class="card-body">
      <small class="bg-light text-danger text-center">Design</small>
      <small class="bg-light text-success text-center ms-3">Feature</small>
      <small class="bg-light text-info text-center ms-3">Views-100</small>
  
      <h5 class="mt-1">Lorem ipsum dolor sit amet.</h5>
      <p>reprehenderit Nisi itaque mollitia nostrum, sapiente adipisci veritatis quo. Nihil in mollitia voluptas alias autem ducimus quasi!
        Tenetur saepe impedit similique!</p>
      <small class="bg-light text-warning text-center ms-3">last-updated Feb 09, 2024</small>
    </div>
  
  </div>
  
