<div class="card mt-5 shadow-effect">
    <img src="../../../../assets/aurora-borealis-1839582.jpg" alt="" class="card-img-top">

    <div class="card-body">
      <small class="bg-light text-danger text-center ">Design</small>
      <small class="bg-light text-success text-center m-6p">Feature</small>
      <small class="bg-light text-info text-center m-6p">Views-100</small>

      <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
      <p>reprehenderit Nisi itaque mollitia nostrum, sapiente adipisci veritatis quo alias autem ducimus quasi!</p>
      <small class="bg-light text-warning text-center d-block">last-updated Feb 09, 2024</small>
    </div>

  </div>

