@import '../../../../styles';

.shadow-effect {
  margin-top: 2rem;
  border: none !important;
  box-shadow: 0 0px 6px 0px rgba(71, 114, 254, 0.13);
}

i{
  font-size:2.6rem;
  color: $primary-color;
}

.card{
 cursor: pointer;
 transition: transform 300ms linear;

 &:hover{
transform: translateY(-10px);
 }
}
